<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h1>Admin Login</h1>

        <p>Private Portfolio Dashboard</p>

        <form method="POST">

            <label>Username</label>
            <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
            >

            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>
</html>
